# IntelliJ
.idea/
*.iml

# Java / Maven
target/
*.class
*.jar

# Logs
*.log

# Environment files
.env
backend/auth-service/src/main/resources/application-local.properties


# OS files
.DS_Store
Thumbs.db